* {
    padding: 0;
    margin: 0;
}

:root {
    --accent-color: #18F58C;
    --main-bg-color: #C25100;
    --hf-bg-color: #F5AC18;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
}

.header, .footer {
    position: relative;
    width: inherit;
    height: 50px;
    background-color: var(--hf-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}

.tab {
    width: 20%;
    height: inherit;
    white-space: nowrap;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tab:hover {
    box-shadow: 2px 0px 5px black,
        -2px 0px 5px black;
}

.icon {
    position: absolute;
    right: 0;

    width: 50px;
    background-color: #fff;
    height: inherit;
}

.footer > div {
    height: 80%;
    width: 40px;
    border-radius: 30%;
}

.tab:hover, .footer > div:hover {
    cursor: pointer;
}

.footer > div:first-child {
    background: url(./facebook.svg) no-repeat center/100%;
}

.footer > div:nth-child(2) {
    background: url(./instagram.svg) no-repeat center/100%;
}

.footer > div:last-child {
    background: url(./twitter.svg) no-repeat center/100%;
}

.footer > div:hover {
    box-shadow: inset 1px 1px 5px 1px var(--accent-color),
        inset -1px -1px 5px 1px var(--accent-color);
}

.selected {
    text-decoration: underline 3px var(--accent-color);
    font-weight: bold;
}

.main {
    flex: 1;

    background-color: var(--main-bg-color);
    width: inherit;
    text-align: center;
}