* {
    padding: 0;
    margin: 0;
}

:root {
    --accent-color: #18F58C;
    --main-bg-color: #C25100;
    --hf-bg-color: #F5AC18;
}

.content{
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

.header, .footer {
    position: relative;
    width: inherit;
    height: 50px;
    background-color: var(--hf-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    position: absolute;
    left: 1rem;
}

ul {
    width: 50%;
    height: inherit;
    list-style: none;

    display: flex; 
    justify-content: center;
    align-items: center;
}

.header li {
    height: inherit;
    width: 33%;
    font-size: 1.5rem;
    background-color: var(--hf-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header li:hover, .icon:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    scale: 1.1;
}

.icon {
    position: absolute;
    right: .75rem;
    top: .5rem;
    width: 100px;
    background: url(../src/images/rabbit-7040066.svg) no-repeat center;
    height: 100px;

    background-color: rgba(0, 0, 0, .75);
    border-radius: 50%;
}

.footer li {
    height: 80%;
    width: 40px;
    border-radius: 30%;
}

li:hover , .icon:hover {
    cursor: pointer;
}

.footer li:first-child {
    background: url(../src/images/facebook.svg) no-repeat center/100%;
}

.footer li:nth-child(2) {
    background: url(../src/images/instagram.svg) no-repeat center/100%;
}

.footer li:last-child {
    background: url(../src/images/twitter.svg) no-repeat center/100%;
}

.footer li:hover {
    box-shadow: inset 0px 0px 3px var(--accent-color),
        0px 0px 3px var(--accent-color);
    scale: 1.1;
}

.selected {
    text-decoration: underline 3px var(--accent-color);
    font-weight: bold;
}

.main {
    flex: 1;

    background-color: var(--main-bg-color);
    width: inherit;
    
    display: flex;
    justify-content: center;
}

/* home */
.home {
    width: 75%;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 1rem;
    text-align: center;
    padding: .5rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
}

.home img {
    grid-column-start: 2;
    grid-row: 1 / span 2;

    height: 700px;
}

.home p {
    align-self: start;
}

/* menu */
.menu {
    width: 75%;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 1rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
    gap: 2rem;
}

.menu .item {
    height: 300px;
    border: solid black 1px;
    padding: .5rem;
    font-size: 1rem;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: .25rem;
}

.menu img {
    height: inherit;
    grid-row: 1 / span 2;
}

.item > p:last-child {
    font-size: 1.5rem;
    justify-self: end;
    align-self: end;
}



/* contact */
.contact {
    box-sizing: border-box;
    width: 50%;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 1rem;
    padding: 5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.contact > div > p:nth-child(2n - 1) {
    font-weight: bold;
}

.contact p {
    display: block;
    line-height: 2rem;
    background-color: rgba(145, 145, 145, 0.1);
}

.contact h3 {
    font-size: 1.5rem;
    text-decoration: underline 2px;
    margin: 0 0 -1.5rem 0;
}

